<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>Document</title>
</head>

<body>
    <div class="wrap">
        <button id="myBtn">Открыть модальном окно</button>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="head_modal">
                    <div class="wrap_head_modal">
                        <div class="title_modal">
                            <h3>Просмотр операции маршрутного листа</h3>
                        </div>
                        <div class="btn_modal">
                            <button id="btn_stop" class="stop_work">Приостановить работу</button>
                            <button class="end_work">Завершить работу</button>
                        </div>
                    </div>
                </div>

                <div class="details_list">
                    <div class="wrap_details">
                        <div class="title_details">
                            <p>Детали</p>
                        </div>
                    </div>

                    <div class="wrap_details">
                        <div class="item_details1">
                            <p>Номер операции:</p>
                            <p>Операция:</p>
                            <p>ДСЕ:</p>
                        </div>

                        <div class="item_details2">
                            <p>005</p>
                            <p>Термическая резка плазменно-дуговая (2942)</p>
                            <p>К1-86.01.05.01.212 Накладка (лист 5 60х2600)_К1-86.01.05.01.212 Накладка (лист 5 60х2600)_К1-86.01.05.01.212 Накладка (лист 5 60х2600)</p>
                        </div>

                        <div class="item_details3">
                            <p>Статус операции:</p>
                            <p>Прогресс выполнения:</p>
                            <p>Плановая дата начала:</p>
                            <p>Плановая дата окончания:</p>

                        </div>

                        <div class="item_details4">
                            <div class="status_op">
                                <p>В работе</p>
                            </div>
                            <p>30%</p>
                            <p>31.07.2020 17:26</p>
                            <p>31.07.2020 19:26</p>

                        </div>
                    </div>

                    <div class="wrap_details down">
                        <div class="item_details1_1">
                            <p>Размер партии:</p>
                            <p>Заказ:</p>
                            <p>Маршрутный лист:</p>
                        </div>

                        <div class="item_details2_1">
                            <p>4</p>
                            <p>T10-6</p>
                            <p>627</p>
                        </div>

                        <div class="item_details3_1">
                            <p>Подразделение:</p>
                            <p>Класс РЦ:</p>
                        </div>

                        <div class="item_details4_1">
                            <p>Заготовительный цех (ЗЦ)</p>
                            <p>Ножницы кривошипные листовые НА 3225</p>
                        </div>
                    </div>

                    <div class="wrap_details">
                        <div class="sort_details">
                            <div class="title_details">
                                <p>Исполнители</p>
                            </div>
                            <select class="select_details" name="" id="">
                                <!-- <option value="">По убыванию</option>
                                <option value="">По возрастанию</option> -->
                            </select>
                        </div>

                        <div class="sort_details">
                            <div class="title_details">
                                <p>Оборудование</p>
                            </div>
                            <select class="select_details" name="" id="">
                                <!-- <option value="">По убыванию</option>
                                <option value="">По возрастанию</option> -->
                            </select>
                        </div>
                    </div>

                    <div class="wrap_details wrap_comment">
                        <div class="title_details">
                            <p>Комментарий</p>
                        </div>
                        <textarea class="comment" name="" id="" cols="100" rows="7"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModal2" class="modal2">
            <div class="modal-content2">
                <div class="head_modal2">
                    <div class="wrap_head_modal">
                        <div class="wrap_border">
                            <div class="title_modal2">
                                <h3 class="title_modal2_1">Укажите прогресс выполнения приостановленной операции</h3>
                            </div>
                        </div>
                    </div>

                    <div class="wrap_head_modal">
                        <div class="progress_op">
                            <div class="title_progress_op">
                                <p class="p_progress_title">Прогресс выполнения, %</p>
                            </div>
                            <div class="input_progress">
                                <input class="in_progress_op" type="text">
                            </div>
                            <div class="btn_progress_group">
                                <button id="id_cancel" class="btn_cancel">Отенить</button>
                                <button class="btn_stop_progress">Приостановить</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="details_list">

                </div> -->
            </div>
        </div>
    </div>


    <script src="/js/scriptModal1.js"></script>
</body>

</html>
